<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primera Pagina Web</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <h1>Pagina de inicio</h1>
    <ul>
        <li><h4><a href="/babbage">Babbage</a></h4></li>
        <li><h4><a href="/berners-lee">Berners-Lee</a></h4></li>
        <li><h4><a href="/clarke">Clarke</a></h4></li>
        <li><h4><a href="/hamilton">Hamilton</a></h4></li>
        <li><h4><a href="/hopper">Hopper</a></h4></li>
        <li><h4><a href="/lovelace">Lovelace</a></h4></li>
        <li><h4><a href="/turing">Turing</a></h4></li>
    </ul>
</body>

</html>